body {
    background-color: #202020;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow-y: auto; /* Adiciona rolagem vertical */
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto; /* Altera para min-height para permitir rolagem */
}
